.Message {
    display: flex;
    width: 100%;
}

.NewPersons {
    display: flex;
    width: 100%;
}

@media screen and (max-width:767px) {
    .Message {
        width: 100%;
    }

    .mobile {
        display: none;
    }
}