.MidMessages {
    padding-top: 2rem;
    width: 100%;
    border-right: 2px solid var(--twitter--border);

}

.MidMessages .Heading {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.MidMessages .Heading h3 {
    display: inline;
    margin: 1rem;
}

.MidMessages .Heading div {

    display: inline;
    display: flex;
    justify-content: space-between;
}

.MidMessages .Heading div .MuiSvgIcon-root {
    padding: 1rem;
    cursor: pointer;
}

.Message-search {
    display: flex;
    border-bottom: 2px solid var(--twitter--border);
}

.Message-search form {
    width: 100%;
}

.Message-search .search {
    margin: 1rem;
    background-color: white;
}

@media screen and (max-width:767px) {
    .MidMessages {
        width: 100%;
    }
}