.Home-Heading h2 {
    padding-left: 2rem;
    cursor: pointer;
}

.Home-option {
    display: flex;
    justify-content: space-between;
}

.Home-Heading .Home-option .Home-Button1 h2 {
    display: inline;
    font-weight: 400;
    padding-right: 1.5rem;
}

.Home-Heading .Home-option .Home-Button2 h2 {
    display: inline;
    font-weight: 400;
    padding-right: 1.5rem;

}


.Home-Heading .Home-option .Home-Button1 :hover {
    text-decoration: none;
    border-bottom: 4px solid var(--twitter--color);
    border-radius: 2px;
    background-color: var(--twitter--background);
    transition-delay: 2ms;
    cursor: pointer;
}

.Home-Heading .Home-option .Home-Button2 :hover {
    text-decoration: none;
    border-bottom: 4px solid var(--twitter--color);
    border-radius: 2px;
    background-color: var(--twitter--background);
    transition-delay: 2ms;
    cursor: pointer;
}


@media screen and (max-width:360px) {
    .Home-Heading h2 {
        font-size: 1.5rem;
        font-weight: 400;
    }

    .Home-Heading .Home-option .Home-Button1 h2 {
        padding: 2px;
        font-size: medium;
    }

    .Home-Heading .Home-option .Home-Button2 h2 {
        padding: 2px;
        font-size: medium;
        margin-right: 18rem;
    }


}

@media screen and ((min-width:361px) and (max-width:767px)) {
    .Home-Heading>.Home-Button {
        padding: 0.5rem;
        margin: 1rem;

    }

    .Home-Heading .Home-option .Home-Button1 h2 {
        padding: 5px;
        font-size: large;
    }

    .Home-Heading .Home-option .Home-Button2 h2 {
        padding: 5px;
        font-size: large;
        margin-right: 14rem;
    }
}

@media screen and ((min-width:768px) and (max-width:1034px)) {
    .Home-Heading>.Home-Button {
        padding-left: 4rem;
        padding-top: 3px;
        padding-right: 4rem;
        padding-bottom: 3px;
        margin: 1rem;

    }

}