.mobile-slidebar {
    display: flex;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.mobile-slidebar .MuiSvgIcon-root {
    color: black;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
}

@media screen and (max-width:360px) {
    .mobile-slidebar {
        display: flex;
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }

    .mobile-slidebar .MuiSvgIcon-root {
        color: black;
        margin-right: 1.2rem;
        margin-left: 1.2rem;
    }
}