.mobile-slidebar {
    display: flex;
    width: 90%;
    height: 100%;
    /* justify-content: space-between; */
}

.mobile-slidebar .MuiSvgIcon-root {
    color: black;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
}

@media screen and (max-width:360px) {
    .mobile-slidebar .MuiSvgIcon-root {
        color: black;
        margin-right: 1.2rem;
        margin-left: 1.2rem;
    }
}