.background-image {

    position: relative;
}

.default_profile img {
    height: 80px;
    width: 120px;
    border-radius: 50px;
}

.default_profile {
    position: absolute;
    bottom: 0;
    left: 3%;
}